* {
    box-sizing: border-box;
}

body {
    background-image: url('pexels.jpeg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-size: 20px;
    font-family:monospace;
    text-align: center;
    padding: 20px;
    padding-top: 40px;
}

#num1-el,
#num2-el,
#sum-el {
    border-bottom: 1px solid black;
    font-size: 18px;
    font-style:normal;
}

button {
    font-weight: bold;
    background-color: white;
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

button:hover {
    color: rgb(249, 255, 254);
    background-color: black;
    border: none;
}